In [3]:
import pandas as pd
import re

In [1]:
def clean_text(text):
    # Remove \n, special characters, and numbers
    text = re.sub(r'\\n', ' ', text)  # Replace \n with a space
    text = re.sub(r'[^\w\s]', '', text)  # Remove special characters
    text = re.sub(r'\d+', '', text)  # Remove numbers
    text = re.sub(r'\s+', ' ', text).strip()  # Remove extra spaces
    return text

### News Dataset

In [52]:
news_df = pd.read_csv('../Dataset/raw data/news.csv')
news_df1 = pd.read_csv('../Dataset/raw data/news1.csv')
news_df2 = pd.read_csv('../Dataset/raw data/news2.csv')

In [53]:
news_df.dropna(inplace=True)
news_df.head()

                                                data         labels
0  Musicians to tackle US red tape  Musicians gro...  entertainment
1  U2s desire to be number one  U2, who have won ...  entertainment
2  Rocker Doherty in on-stage fight  Rock singer ...  entertainment
3  Snicket tops US box office chart  The film ada...  entertainment
4  Oceans Twelve raids box office  Oceans Twelve,...  entertainment

In [54]:
news_df1 = news_df1[['Text', 'Category']]
news_df1.columns = ['data', 'labels']
news_df1.dropna(inplace=True)
news_df1.head()

                                                data    labels
0  worldcom ex-boss launches defence lawyers defe...  business
1  german business confidence slides german busin...  business
2  bbc poll indicates economic gloom citizens in ...  business
3  lifestyle  governs mobile choice  faster  bett...      tech
4  enron bosses in $168m payout eighteen former e...  business

In [55]:
news_df2 = news_df2[['short_description', 'category']]
news_df2.columns = ['data', 'labels']
news_df2['labels'] = news_df2['labels'].str.lower()
news_df2.dropna(inplace=True)
news_df2.head()

                                                data    labels
0  Resting is part of training. I've confirmed wh...  wellness
1  Think of talking to yourself as a tool to coac...  wellness
2  The clock is ticking for the United States to ...  wellness
3  If you want to be busy, keep trying to be perf...  wellness
4  First, the bad news: Soda bread, corned beef a...  wellness

In [58]:
df_news = pd.concat([news_df, news_df1, news_df2],
                  axis=0, ignore_index=True)
df_news['domain'] = 'News'
df_news.columns = ['description', 'sub_domain', 'domain']
df_news = df_news[['description', 'domain', 'sub_domain']]
df_news.sample(10)

df_news.to_csv('../Dataset/processed_data/processed_news.csv')

### Ecommerce Dataset

In [5]:
df_ec = pd.read_csv('../Dataset/raw data/ecommerce.csv')
df_ec['domain'] = 'Ecommerce'
df_ec.columns = ['sub_domain', 'description', 'domain']
df_ec = df_ec[['description', 'domain', 'sub_domain']]
df_ec.dropna(inplace=True)
df_ec.head()

df_ec.to_csv('../Dataset/processed_data/processed_ecommerce.csv')

### Medical Dataset

In [6]:
df_med = pd.read_csv('../Dataset/raw data/medical.csv')
df_med1 = pd.read_csv('../Dataset/raw data/medicals.csv')

In [20]:
df_med1['description'].nunique()

10043

In [18]:

df_med.columns = ['domain', 'sub_domain', 'description']
df_med = df_med[['description', 'domain', 'sub_domain']]
df_med1.dropna(inplace=True)
df_med.dropna(inplace=True)
med_df = pd.concat([df_med, df_med1], axis=0)
df_med.columns = ['domain', 'sub_domain', 'description']
med_df = med_df[['description', 'domain', 'sub_domain']]
med_df.head()
med_df.to_csv('../Dataset/processed_data/processed_medical.csv')

### Governance Dataset

In [19]:
df_gov = pd.read_csv("../Dataset/raw data/governance_realistic_dataset.csv")
df_gov.head()

,description,domain,subdomain
0,Water Conservation and Rural Governance is res...,governance,polity
1,Experts analyze the effects of India's Stance ...,governance,polity
2,A parliamentary committee report highlights pu...,governance,health
3,A parliamentary committee report highlights pu...,governance,urban governance
4,Stakeholders push for amendments in Sustainabl...,governance,polity

In [21]:
df_gov.dropna(inplace=True)
df_gov.to_csv('../Dataset/processed_data/processed_governance.csv')

### Final Dataset

In [23]:
df_ecom = pd.read_csv('../Dataset/processed_data/processed_ecommerce.csv')
df_ecom = df_ecom.reset_index(drop=True)
df_med = pd.read_csv('../Dataset/processed_data/processed_medical.csv')
df_med = df_med.reset_index(drop=True)
df_news = pd.read_csv('../Dataset/processed_data/processed_news.csv')
df_news = df_news.reset_index(drop=True)
df_gover = pd.read_csv('../Dataset/processed_data/processed_governance.csv')
df_gover = df_news.reset_index(drop=True)

df_final = pd.concat([df_ecom, df_med, df_news, df_gover],
                     axis=0, ignore_index=True).drop(columns=['Unnamed: 0'])
df_final.sample(10)

df_final.to_csv('../Dataset/processed_data/final_dataset.csv', index=False)